html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: solid white !important;
    font-family:"Gloss_And_Bloom.tff" !important;
    background-color: #1daf8d;
    
}

.animatie {
    width: 650px;
    height: 250px;
    background-color: #342e3a;
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {background-color: #342e3a;transform: rotate(0deg);}
    25% {background-color: #cc4a62;transform: rotate(2deg);}
    50%  {background-color: #342e3a;transform: rotate(0deg);}
    75% {background-color: #1daf8d;transform: rotate(-2deg);}
    100%   {background-color: #342e3a;transform: rotate(0deg);}
  }

 /* .animatie2 {
    width: 650px;
    height: 250px;
    background-color: #342e3a;
    animation-name: example2;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  
  @keyframes example2 {
    0%   {transform: rotate(0deg);}
    25% {transform: rotate(2deg);}
    50%  {transform: rotate(0deg);}
    75% {transform: rotate(-2deg);}
    100%   {transform: rotate(0deg);}
  }
*/

hr { 
	border: 10px solid white;
    width: 20%;
 }

label {
	color:white!important;
}

.btn:hover {
    background-color: #1daf8d;
    transform:translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.formular{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;

}

.submit{
	margin-bottom: 3vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.formwidth{
width:75%;
}


@media only screen and (max-width: 600px) {
    .formwidth {
        width:100%;
    }
}

.bgformular{
	margin-top:1%;
	border-radius:15px;
	padding:2%;
    background-color: #342e3a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

}

.textform{
	 padding:2%;
	 margin-bottom:5%;
	}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1daf8d;
    -webkit-box-shadow: 0 1px 0 0 #1daf8d;
    box-shadow: 0 0px 0 0 #1daf8d;
}
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #1daf8d;
}
input[type="checkbox"] {
    border-right: 2px solid #1daf8d;
    border-bottom: 2px solid #1daf8d;
  }
  input[type="checkbox"]:checked {
    border-right: 2px solid #1daf8d;
    border-bottom: 2px solid #1daf8d;
  }
/* [type="checkbox"]:checked+label:before {
    border-right: 2px solid #1C9FAC;
    border-bottom: 2px solid #1C9FAC;
    } */

a {
	color:#d12828;
}

.loader {
	border: 16px solid #342e3a;
	border-radius: 50%;
	border-top: 16px #342e3a;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 1.3s linear infinite;
	margin: 0 auto;
	display: none;
  }

  .cent {
	  margin: 0 auto;
  }
  
  
  /* Scroll Bar CSS */
  ::-webkit-scrollbar {
      width: 8px;
      height: 4px;
  }
  ::-webkit-scrollbar-button {
      width: 0;
      height: 0;
  }
  ::-webkit-scrollbar-thumb {
      background: #342e3a;
      border: 0 none #ffffff;
      border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #cc4a62;
  }
  ::-webkit-scrollbar-thumb:active {
      background: #cc4a62;
  }
  ::-webkit-scrollbar-track {
      background: #ffffff;
      border: 0 none #ffffff;
  
  }
  ::-webkit-scrollbar-track:hover {
      background: #ffffff;
  }
  ::-webkit-scrollbar-track:active {
      background: #ffffff;
  }
  ::-webkit-scrollbar-corner {
      background: transparent;
  }
  #errors-container {
    color: red;
  }
  [type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #d12828;
    border-bottom: 2px solid #d12828;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}